body		{margin : 5%;
		 font-family : sans-serif;
                 font-size : 13px;
                 background-color : #333366;
                 color : #ffffff;}

div.tail	{text-align: right; margin-top: 5%}
div.head	{text-align: center; color: pink}
div.body	{padding: 5%; border: 2px solid white; border-style: dashed}

a.pdf:after	{content: url(icon/pdf.png)}

a		{font-family : sans-serif, geneva, helvetica, arial, verdana;}
a:link          {color : #33ccff; text-decoration : none;}
a:visited       {color : #33ccff; text-decoration : none;}
a:active        {color : #cc33ff; text-decoration : none;}
a:hover         {color : #cc33ff; text-decoration : none;}


